body, html {
	padding: 0;
	margin: 0;
}

div#home {
	background-image: url(../img/cover2.jpg);
	background-size: cover;
}

div#about {
	background-image: url(../img/cover2.jpg);
	background-size: 100%;
}

nav{
}

.slide {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.middle {
	text-align: center;
	margin-bottom: 20px;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar-item {
	float: left;
	display: inline;
}

.navbar-block {
	display: block;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  	padding-bottom: 3px
}

.navbar-block:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 2px;
	height: 1px;
	width: 0px;
	background: black;
	transition: width .2s linear;
}

.navbar-block:hover:after {
	width: 96%;
	background: black;
}

.heading {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 94px;
}

.subheading {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 40px;
}

.white {
	color: white;
}